.grid {
    display: flex;
    flex-wrap: wrap;
    overflow-x: visible;
    overflow-y: visible;
    flex-direction: row;
}

.grid.col {
    flex-direction: column;
}

@media (max-width: 992px) {
    .grid.break-lg {
        flex-direction: column;
    }
}

@media (max-width: 768px) {
    .grid.break-md {
        flex-direction: column;
    }
}